<%- include("../partials/navbar.ejs") %>
<div class="dashboard">
  <div class="sm">
    <div class="intro">
      <p class="hello">Welcome <%= admin.firstName%></p>
      <div
        class="electionOngoing"
        style="width: 8px; height: 8px; border-radius: 50%; background: red"
      ></div>
    </div>

    <%- include("../partials/messages.ejs") %>

    <div class="content">
      <div class="dates">
        <div class="date">
          <span>
            Next Election Starts
            <h2 class="startDate"><%= _admin.setTime.toUTCString() %></h2>
          </span>

          <span>
            Next Election Ends
            <h2 class="endDate"><%= _admin.ElectionEndDate.toUTCString() %></h2>
          </span>

          <button
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            onclick="showSetDate()"
            class="showDate btn btn-sm btn-primary"
          >
            Change Date
          </button>

          <div class="set">
            <p>Set Date</p>
            <form action="/admin/dashboard/<%= admin._id %>" method="post">
              <input
                class="form-control"
                type="datetime-local"
                name="electionDate"
                value="<%= _admin.setTime.toISOString().slice(0, -8)%>"
              />
              <p>End Date</p>
              <input
                class="form-control"
                type="datetime-local"
                name="ElectionEndDate"
                value="<%= _admin.ElectionEndDate.toISOString().slice(0, -8)%>"
              />
              <button class="btn btn-sm btn-secondary m-3" type="submit">
                set Date
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dashboard" style="display: none">
  <div class="setDate"></div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Changing the election time might mean new Election, which means you
          might want to remove old voters and upload new voters
        </p>
        <p>Press Yes to remove all voters and upload new one</p>
        <p>Press close if there are no voters</p>
        <p>NB: Don't forget to upload voters list</p>
        <form
          action="/admin/dashboard/<%= admin._id %>/deleteVoters"
          method="post"
        >
          <button class="btn btn-primary" type="submit">Yes</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
