<%- include("../partials/navbar.ejs") %>

<div class="big">
  <div class="sm">
    <h1 class="title">Candidates</h1>


    <h1>President</h1>
    <div class="position">
      <% president.forEach(elt => { %>
      <div class="">
        <img width="100px" src="<%= elt.coverImagePath %>" alt="pic" />
        <h1><%= elt.firstName %> <br> <%= elt.lastName %></h1>
      </div>
      <% }) %>
    </div>

    <hr>

    <h1>Secretary</h1>
    <div class="position">
      <% secretary.forEach(elt => { %>
      <div class="">
        <img width="100px" src="<%= elt.coverImagePath %>" alt="pic" />
        <h1><%= elt.firstName %> <br> <%= elt.lastName %></h1>
      </div>
      <% }) %>
    </div>
    
    <form action="/admin/dashboard/<%= admin._id %>/removeAll" method="post">
      <button class="btn btn-primary" type="submit">Remove all Candidate</button>
    </form>    
  </div>
</div>
