<%- include("../partials/navbar2.ejs") %>

<div class="dashboard">
  <div class="sm">
    <div class="intro">
      <div
        class="electionOngoing"
        style="width: 8px; height: 8px; border-radius: 50%; background: red"
      ></div>
    </div>

    <%- include("../partials/messages.ejs") %>

    <div class="content">
      <div class="dates">
        <div class="date">
          <span>
            Election Starts On
            <h2 class="startDate"><%= _admin.setTime.toUTCString() %></h2>
          </span>

          <span>
            Election Ends On
            <h2 class="endDate"><%= _admin.ElectionEndDate.toUTCString() %></h2>
          </span>
          <a class="btn btn-primary" href="/voter/<%= voter._id %>/voting">Start Voting</a>
        </div>
      </div>
    </div>
  </div>
</div>
